.jumbotron {

      background-repeat: no-repeat;
      color: #fff;
      font-family: Montserrat, sans-serif;
      padding: 0px;

  }
 
@media (max-width: 700px) { 

	.jumbotron{
		background-color: black;
		margin-top: 100px;
	}
  #about,#services,#Planes,#Contacto{
    margin-top: 50px;
  }
 }
 footer p{ position: relative; color:white; }
 footer{
 	max-height:20px;
 }
  #comments{
  	position: relative;
  	margin-top:10px;
  }