.jumbotron {
	margin-top: 1px;
      background-repeat: no-repeat;
      color: #fff;
      font-family: Montserrat, sans-serif;
      padding: 0px;

  }
 
@media (max-width: 700px) { 

	.jumbotron{

		margin-top: 20%;
	}
 }